{% extends 'base.html' %}
{% load custom_tag %}
{% block header-css %}
	<link rel="stylesheet" href="/static/dist/css/AdminLTE.min.css">
{% endblock %}

{% block page-content-title %}
开发负责人管理
{% endblock %}

{% block page-nav-tab %}
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">开发负责人管理</li>
</ol>
{% endblock %}



{% block page-content %}
<div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content">
        <form action="" method="post" id="developer_form">
                {% csrf_token %}
            <div class="box">
                <div class="box-header">
                    <div class="col-sm-2" style="padding-left: 0">
						 <a href="{% url 'developer_add' %}"><li class="btn btn-success" ><b>添加开发负责人</b></li></a>
                  </div>
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                  <table class="table table-striped table-bordered" id="appDeveloperform">
                      <thead>
                        <tr>
                            <th>
                                <input id="checkall" type="checkbox" class="i-checks" name="checkall" value="checkall" data-editable='false' onclick="check_all('developer_form')">
                            </th>
                            <th>负责人姓名</th>
                            <th>负责人手机</th>
                            <th>负责人QQ</th>
                            <th>负责人微信</th>
                            <th>操作</th>
                        </tr>
                      </thead>
                            <tbody>
                            {% for developer in all_developer %}
                                <tr class="even gradeX">
                                    <td><input type="checkbox" id="id" class="i-checks" value="{{ developer.id }}" name="id" /></td>
                                    <td>{{ developer.name }} </td>
                                    <td>{{ developer.phone }} </td>
                                    <td>{{ developer.qq }} </td>
                                    <td>{{ developer.weChat }} </td>
                                    <td>
                                        <a href="{% url "developer_edit" developer.id %}"><span class="btn btn-sm btn-info">编辑</span></a>
                                        <a href="{% url "developer_del"%}?id={{ developer.id }}" onclick="return confirm('确认删除负责人吗？')"><span class="btn btn-sm btn-danger ">删除</span></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                  </table>
                  <div class="btn-group">
                      <input type="button" id="developer_del" class="btn btn-danger"   name="del_button" value="删除负责人"/>
                  </div>
                </div>
            </div>
        </form>
    </section>

</div>
<script src="/static/plugins/datatables/DataTables-1.10.9/js/jquery.dataTables.min.js"></script>
<script src="/static/plugins/datatables/DataTables-1.10.9/js/dataTables.bootstrap.min.js"></script>
<script>
  $(function () {
    $('#appDeveloperform').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": true
    });
  });
</script>

<script>
    $('#developer_del').click(function () {
        var developer_id_all = getIDall();
        if (developer_id_all == ''){
            alert("请至少选择一行!");
            return false;
        }
        if (confirm("确定删除?")) {
            $.ajax({
                type: "post",
                data: {developer_id_all: developer_id_all,csrfmiddlewaretoken: '{{ csrf_token }}'},
                url: "{% url 'developer_del' %}",
                success: function () {
                    parent.location.reload();
                }
            });
        }
    });
</script>
{% endblock %}

{% block  bottom-js %}
	<script src="/static/layer/layer.js"></script>
	<script src="/static/js/base.js"></script>
{% endblock %}