{% extends 'base.html' %}
{% load custom_tag %}

{% block header-css %}
{% endblock %}

{% block page-content-title %}
{% endblock %}

{% block page-nav-tab %}
<ol class="breadcrumb">
</ol>
{% endblock %}



{% block page-content %}

<div>
    <section class="content-header">
    </section>
    <section class="content">
        <p style="font-size:20px;color: red;font-weight: bold;">你没有此页面的权限，如有疑问，请联系管理员。</p>
        <p><h4>管理员手机：18665608xxx</h4></p>
        <p><h4>管理员邮箱：chenqiufei@ihavexxx.com</h4></p>
    </section>
</div>

{% endblock %}

{% block  bottom-js %}
{% endblock %}
