
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>IT精灵工具</title>
		<!--jQuery [ REQUIRED ]-->
	<script src="/static/js/jquery-2.1.1.min.js"></script>
	<!-- 显示系统实时时间的js代码 -->
	<script type="text/javascript"> 
		window.onload=function(){  
		setInterval(function(){   
		var date=new Date();   
		var year=date.getFullYear(); //获取当前年份   
		var mon=date.getMonth()+1; //获取当前月份 
		if (mon >= 1 && mon <= 9) {
			mon = "0" + mon;
		}     
		var da=date.getDate(); //获取当前日 
		if (da >= 1 && da <= 9) {
			da = "0" + da;
		}     
		var week;
		switch (date.getDay()){            <!--time.getDay()获取后显示1~7阿拉伯数字-->
		case 1: week="星期一"; break;
		case 2: week="星期二"; break;
		case 3: week="星期三"; break;
		case 4: week="星期四"; break;
		case 5: week="星期五"; break;
		case 6: week="星期六"; break;
		default: week="星期天";
		}
		var h=date.getHours(); //获取小时  
		if (h >= 0 && h <= 9) {
			h = "0" + h;
		}  
		var m=date.getMinutes(); //获取分钟 
		if (m >= 0 && m <= 9) {
			m = "0" + m;
		}   
		var s=date.getSeconds(); //获取秒 
		if (s >= 0 && s <= 9) {
			s = "0" + s;
		}  
		var d=document.getElementById('Date');    
		d.innerHTML='系统时间:'+year+'年'+mon+'月'+da+'日'+week+' '+h+':'+m+':'+s;  },1000)  }
	</script>
    {% block base-header %}

	<!--STYLESHEET-->
	<!--=================================================-->

	<!--Bootstrap Stylesheet [ REQUIRED ]-->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	


	<!--Nifty Stylesheet [ REQUIRED ]-->
	<link href="/static/css/nifty.min.css" rel="stylesheet">


	<!--Font Awesome [ OPTIONAL ]-->
	<link href="/static/css/font-awesome.min.css" rel="stylesheet">


	<link href="/static/css/themes/type-c/theme-light.min.css" rel="stylesheet">
	<link href="/static/css/custom.css" rel="stylesheet">
	<link href="/static/plugins/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
	

	<!--SCRIPT-->
	<!--=================================================-->

	<!--Page Load Progress Bar [ OPTIONAL ]-->
	<link href="/static/css/pace.min.css" rel="stylesheet">
	<script src="/static/js/pace.min.js"></script>


    {% endblock %}
    {% block header-css %}

    {% endblock %}
		

</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->

<body>
	<div id="container" class="effect mainnav-lg mainnav-fixed">
		{% block page-container %}
		<!--NAVBAR-->
		<!--===================================================-->
		<header id="navbar">
			<div id="navbar-container" class="boxed">

				<!--Brand logo & name-->
				<!--================================-->
				<div class="navbar-header">
					<a href="{% url 'index' %}" class="navbar-brand">
							<span class="brand-text logo-text" >itelftool</span>
					</a>

				</div>
				<!--================================-->
				<!--End brand logo & name-->


				<!--Navbar Dropdown-->
				<!--================================-->
				<div class="navbar-content clearfix">
					<ul class="nav navbar-top-links pull-left">

						<!--Navigation toogle button-->
						<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
						<li class="tgl-menu-btn">
							<a class="mainnav-toggle" href="#">
								<i class="fa fa-navicon fa-lg"></i>
							</a>
						</li>

					</ul>
						
						
					<ul class="nav navbar-top-links pull-right">

						<!--User dropdown-->
						<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
						<li id="dropdown-user" class="dropdown">
							<a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
								<span class="pull-right">
									<img class="img-circle img-user media-object" src="/static/img/av1.png" alt="Profile Picture">
								</span>
								<!-- 在用户名之前显示当前系统时间 -->
								<div class="username hidden-xs"><span id='Date'></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ request.user.name }}</div>
							</a>


							<div class="dropdown-menu dropdown-menu-md dropdown-menu-right with-arrow panel-default">

								<!-- User dropdown menu -->
								<ul class="head-list">
									<li>
										<a href="/userinfo/">
											<i class="fa fa-user fa-fw fa-lg"></i> 个人中心
										</a>
									</li>
									<!--
									<li>
										<a href="#">
											<span class="badge badge-danger pull-right">9</span>
											<i class="fa fa-envelope fa-fw fa-lg"></i> Messages
										</a>
									</li>
									-->
									<li>
										<a href="/changepwd/">
											<span class="label label-success pull-right">New</span>
											<i class="fa fa-gear fa-fw fa-lg"></i> 修改密码
										</a>
									</li>
								</ul>

								<!-- Dropdown footer -->
								<div class="pad-all text-right">
									<a href="/logout" class="btn btn-primary">
										<i class="fa fa-sign-out fa-fw"></i> 退出登录
									</a>
								</div>
							</div>
						</li>
						<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
						<!--End user dropdown-->

					</ul>
				</div>
				<!--================================-->
				<!--End Navbar Dropdown-->

			</div>
		</header>
		<!--===================================================-->
		<!--END NAVBAR-->

		<div class="boxed">

			<!--CONTENT CONTAINER-->
			<!--===================================================-->
			<div id="content-container">
				
				<!--Page Title-->
				<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
				<div id="page-title">
					<h1 class="page-header text-overflow">{% block page-content-title %}Your page title{% endblock %}</h1>

					<!--Searchbox-->
					<div class="searchbox">
						<div class="input-group custom-search-form">
							<input type="text" class="form-control" placeholder="Search..">
							<span class="input-group-btn">
								<button class="text-muted" type="button"><i class="fa fa-search"></i></button>
							</span>
						</div>
					</div>
				</div>
				<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
				<!--End page title-->


				<!--Breadcrumb-->
                {% block page-nav-tab %}
				<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
				<ol class="breadcrumb">
					<li><a href="/">Home</a></li>
					<li><a href="#">Library</a></li>
					<li class="active">Data</li>
				</ol>
				<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
				<!--End breadcrumb-->
                {% endblock %}

		

				<!--Page content-->
				<!--===================================================-->
				<div id="page-content">
					 {% block page-content %}
					
					<!-- QUICK TIPS -->
					<!-- ==================================================================== -->
					<h3>Your content here...</h3>
					<br>
					<a href="index.html" class="btn btn-dark">Back</a>
					<br><br><br>
					<h3>Quick Tips</h3>
					<p>You may remove all ID or Class names which contain <code>demo-</code>, they are only used for demonstration.</p>
					<br>
					
					<h4>Navigation</h4>
					<div class="table-responsive">
						<table class="table">
							<tbody>
								<tr>
									<td style="width:70ex">Expanded the navigation by default</td>
									<td>Add <code>.mainnav-lg</code> to the <code>#container</code>.</td>
								</tr>
								<tr>
									<td>Fixed navigation</td>
									<td>Add <code>.mainnav-fixed</code> to the <code>#container</code>.</td>
								</tr>
								<tr>
									<td>Create a ToggleButton for navigation</td>
									<td>Add <code>.mainnav-toggle</code> to the button.</td>
								</tr>
								<tr>
									<td></td>
									<td>
										<button class="btn btn-lg btn-primary mainnav-toggle">Toggle Navigation</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<h4>Aside</h4>
					<div class="table-responsive">
						<table class="table">
							<tbody>
								<tr>
									<td style="width:70ex">Make Aside visible by default</td>
									<td>Add <code>.aside-in</code> to the <code>#container</code>.</td>
								</tr>
								<tr>
									<td>Fixed aside</td>
									<td>Add <code>.aside-fixed</code> to the <code>#container</code>.</td>
								</tr>
								<tr>
									<td>Aside on the left side</td>
									<td>Add <code>.aside-left</code> to the <code>#container</code>.</td>
								</tr>
								<tr>
									<td>Use the bright color theme</td>
									<td>Add <code>.aside-bright</code> to the <code>#container</code>.</td>
								</tr>
								<tr>
									<td>Create a ToggleButton for aside</td>
									<td>Add <code>.aside-toggle</code> to the button.</td>
								</tr>
								<tr>
									<td></td>
									<td>
										<button class="btn btn-success btn-lg aside-toggle">Toggle Aside</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<h4>Navbar</h4>
					<div class="table-responsive">
						<table class="table">
							<tbody>
								<tr>
									<td style="width:70ex">Fixed navbar</td>
									<td>Add <code>.navbar-fixed</code> to the <code>#container</code>.</td>
								</tr>
							</tbody>
						</table>
					</div>
					<h4>Footer</h4>
					<div class="table-responsive">
						<table class="table">
							<tbody>
								<tr>
									<td style="width:70ex">Fixed footer</td>
									<td>Add <code>.footer-fixed</code> to the <code>#container</code>.</td>
								</tr>
							</tbody>
						</table>
					</div>
					<h4>Color Themes</h4>
					<div class="table-responsive">
						<table class="table">
							<tbody>
								<tr>
									<td style="width:70ex">Apply a different color theme</td>
									<td>You can change whole color theme of your website by adding a color theme stylesheet into the <code>&lt;head></code>.</td>
								</tr>
								<tr>
									<td></td>
									<td><pre>&lt;head><br>	...<br>	&lt;link href="path-to-the-color-theme.css" rel="stylesheet"><br>&lt;/head></pre></td>
								</tr>
							</tbody>
						</table>
					</div>
					<h4>Animation</h4>
					<div class="table-responsive">
						<table class="table">
							<tbody>
								<tr>
									<td style="width:70ex">Remove animation</td>
									<td>Remove the class <code>.effect</code> from <code>#container</code>.</td>
								</tr>
								<tr>
									<td>Add different slide transitions to the Navigation and Aside</td>
									<td>
										Add <code>.effect</code> to the <code>#container</code> and then combined with the class name of the transition function.
										<br>
										<br>
										<table>
											<thead>
												<tr>
													<th style="width: 250px;">Transition function</th>
													<th>Class name</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>easeInQuart</td>
													<td><code>.easeInQuart</code></td>
												</tr>
												<tr>
													<td>easeOutQuart</td>
													<td><code>.easeOutQuart</code></td>
												</tr>
												<tr>
													<td>easeInBack</td>
													<td><code>.easeInBack</code></td>
												</tr>
												<tr>
													<td>easeOutBack</td>
													<td><code>.easeOutBack</code></td>
												</tr>
												<tr>
													<td>easeInOutBack</td>
													<td><code>.easeInOutBack</code></td>
												</tr>
												<tr>
													<td>steps</td>
													<td><code>.steps</code></td>
												</tr>
												<tr>
													<td>jumping</td>
													<td><code>.jumping</code></td>
												</tr>
												<tr>
													<td>rubber</td>
													<td><code>.rubber</code></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- ==================================================================== -->
					<!-- END QUICK TIPS -->
					
					
					{% endblock %}
				</div>
				<!--===================================================-->
				<!--End page content-->


			</div>
			<!--===================================================-->
			<!--END CONTENT CONTAINER-->


			
			<!--MAIN NAVIGATION-->
			<!--===================================================-->
			<nav id="mainnav-container">
				<div id="mainnav">
				
					<!--Menu-->
					<!--================================-->
					<div id="mainnav-menu-wrap">
						<div class="nano">
							<div class="nano-content">
								<ul id="mainnav-menu" class="list-group">
									<!-- 图标库：http://www.fontawesome.com.cn/faicons/ -->
									<!--菜单列表-->
									<li class="">
										<a href="{% url 'index' %}">
											<i class="fa fa-home"></i>
											<span class="menu-title">首页</span>
										</a>
									</li>
						
									<!--站点导航菜单开始-->
									<li>
										<a href="#">
											<i class="fa fa-sitemap"></i>
											<span class="menu-title">
												站点导航
											</span>
										</a>
	                                <ul class="collapse">
												<li><a href="{% url 'navi' %}">站点一览</a></li>
												<li><a href="{% url 'manage' %}">站点编辑</a></li>
											</ul>
									</li>
									<!--站点导航菜单结束-->
									
									
									<!--故障记录菜单开始-->
									<li>
										<a href="#">
											<i class="fa fa-camera-retro"></i>
											<span class="menu-title">
												故障记录
											</span>
										</a>
	                                <ul class="collapse">
												<li><a href="{% url 'brokenrecord' %}">故障列表</a></li>
											</ul>
									</li>
									<!--故障记录菜单结束-->


									<!--资产菜单开始-->
									<li>
										<a href="#">
											<i class="fa fa-cubes"></i>
											<span class="menu-title">
												资产菜单
											</span>
										</a>
	                                <ul class="collapse">
												<li><a href="{% url 'dashboard' %}">面板中心</a></li>
												<li><a href="{% url 'asset_list' %}">资产列表</a></li>
												<li><a href="{% url 'event_center' %}">事件中心</a></li>
												<li><a href="{% url 'idc' %}">机房管理</a></li>
												<li><a href="{% url 'cabinet' %}">机柜管理</a></li>
												<li><a href="{% url 'group' %}">属组管理</a></li>
											</ul>
									</li>
									<!--资产菜单结束-->
									
									
									<!--应用管理菜单开始-->
									<li>
										<a href="#">
											<i class="fa fa-life-ring"></i>
											<span class="menu-title">
												应用管理
											</span>
										</a>
	                                <ul class="collapse">
												<li><a href="{% url 'appconf' %}">产品线管理</a></li>
												<li><a href="{% url 'project_list' %}">项目管理</a></li>
												<li><a href="{% url 'appowner_list' %}">运维负责人管理</a></li>
												<li><a href="{% url 'developer_list' %}">开发负责人管理</a></li>
											</ul>
									</li>
									<!--应用管理菜单结束-->
									
									
									<!--任务编排管理菜单开始-->
									<li>
										<a href="#">
											<i class="fa fa-tasks"></i>
											<span class="menu-title">
												任务编排
											</span>
										</a>
	                                <ul class="collapse">
												<li><a href="{% url 'shell' %}">命令执行</a></li>
												<li><a href="{% url 'ansible' %}">Ansible</a></li>
												<li><a href="{% url 'fileupload' %}">文件上传</a></li>
												<li><a href="{% url 'filetransfer' %}">文件分发</a></li>
												<li><a href="{% url 'job_list' %}">任务调度</a></li>
											</ul>
									</li>
									<!--任务编排管理菜单结束-->
									
									
									<!--用户管理菜单开始-->
									<li>
										<a href="#">
											<i class="fa fa-users"></i>
											<span class="menu-title">
												用户管理
											</span>
										</a>
	                                <ul class="collapse">
												<li><a href="{% url 'user_online_list' %}">在线用户</a></li>
											</ul>
									</li>
									<!--用户管理菜单结束-->


								</ul>


							</div>
						</div>
					</div>
					<!--================================-->
					<!--End menu-->

				</div>
			</nav>
			<!--===================================================-->
			<!--END MAIN NAVIGATION-->
			
			<!--ASIDE-->
			<!--===================================================-->
			<aside id="aside-container" >
				<div id="aside">
					<div class="nano">
						<div class="nano-content">
                            {% block aside-content %}
                                put your aside contents here...
                            {% endblock %}
						</div>
					</div>
				</div>
			</aside>
			<!--===================================================-->
			<!--END ASIDE-->

		</div>

		

        <!-- FOOTER -->
        <!--===================================================-->
        <footer id="footer">

            <!-- Visible when footer positions are fixed -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class="show-fixed pull-right">
                <ul class="footer-list list-inline">
                    <li>
                        <p class="text-sm">SEO Proggres</p>
                        <div class="progress progress-sm progress-light-base">
                            <div style="width: 80%" class="progress-bar progress-bar-danger"></div>
                        </div>
                    </li>

                    <li>
                        <p class="text-sm">Online Tutorial</p>
                        <div class="progress progress-sm progress-light-base">
                            <div style="width: 80%" class="progress-bar progress-bar-primary"></div>
                        </div>
                    </li>
                    <li>
                        <button class="btn btn-sm btn-dark btn-active-success">Checkout</button>
                    </li>
                </ul>
            </div>



            <!-- Visible when footer positions are static -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class="hide-fixed pull-right pad-rgt">Version v1.0.0</div>



            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- Remove the class name "show-fixed" and "hide-fixed" to make the content always appears. -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

            <p class="pad-lft">&#0169; 2018 广州七一一电子信息科技有限公司</p>



        </footer>
        <!--===================================================-->
        <!-- END FOOTER -->


        <!-- SCROLL TOP BUTTON -->
        <!--===================================================-->
        <button id="scroll-top" class="btn"><i class="fa fa-chevron-up"></i></button>
        <!--===================================================-->


    {% endblock %}
	</div>
	<!--===================================================-->
	<!-- END OF CONTAINER -->


	

	<!--JAVASCRIPT-->
	<!--=================================================-->




	<!--BootstrapJS [ RECOMMENDED ]-->
	<script src="/static/js/bootstrap.min.js"></script>


	<!--Fast Click [ OPTIONAL ]-->
	<script src="/static/js/fastclick.min.js"></script>

	<script src="/static/plugins/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

	<!--Nifty Admin [ RECOMMENDED ]-->
	<script src="/static/js/nifty.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function(){

            var active_node = $("#mainnav-menu a[href='{{ request.path }}']");
            active_node.parent().addClass("active-link");
            if (active_node.parent().parent().hasClass("collapse")){
                active_node.parent().parent().addClass("in");
            }
        });//end doc ready
    </script>

    {% block  bottom-js %}
    {% endblock %}

</body>
</html>