{% extends 'base.html' %}
{% load custom_tag %}

{% block header-css %}
	<link href="/static/plugins/easypiechart/jquery.easy-pie-chart.css" rel="stylesheet" media="screen">
	<link href="/static/css/index.css" rel="stylesheet">
{% endblock %}

{% block page-content-title %}
{% endblock %}

{% block page-nav-tab %}
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
    <li><a href="/">总仪表盘</a></li>
</ol>
{% endblock %}



{% block page-content %}

	 <!-- 仪表盘1开始 -->
    <div class="container">
        <div class="bigboxblock">
            <div class="navbar navbar-inner block-header">
                <h4>仪表盘1</h4>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                    <div class="chart" data-percent="{{user_activity}}">{{user_activity}}%</div>
                    <div style="margin-top: 10px;margin-bottom: 20px;margin-left: 12px;"><span class="label label-info">月用户活跃度</span>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-1">
                    <div class="chart" data-percent="{{asset_on_rate}}">{{asset_on_rate}}%</div>
                    <div style="margin-top: 10px;margin-bottom: 20px;margin-left: 15px;"><span class="label label-info">服务器在线率</span>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-1">
                    <div class="chart" data-percent="{{business_impact_time_rate}}">{{business_impact_time_rate}}%</div>
                    <div style="margin-top: 10px;margin-bottom: 20px;margin-left: 12px;"><span class="label label-info">月业务故障率</span>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-1">
                    <div class="chart" data-percent="{{even_change_count_rate}}">{{even_change_count_rate}}%</div>
                    <div style="margin-top: 10px;margin-bottom: 20px;margin-left: 5px;"><span class="label label-info">月资产信息变更率</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
	 <!-- 仪表盘1结束 -->


	<!-- 仪表盘2开始 -->
	<div class="container">
	    <!-- block -->
	    <div class="bigboxblock">
	        <div class="navbar navbar-inner block-header">
	            <h4>仪表盘2</h4>
	        </div>
			    <div class="row">
			    
			        <div class="col-md-3">
			            <div class="boxblock">
			                <div class="boxblock-title">
			                    <span class="label label-success pull-right">User</span>
			                    <h5>用户总数</h5>
			                </div>
			                <div class="boxblock-content">
			                    <h1 style="margin: 0 !important;"><a target="_blank" href="/admin/assets/userprofile/">{{usercount}}</a></h1>
			                </div>
			            </div>
			        </div>
			          
			        <div class="col-md-3">
			            <div class="boxblock">
			                <div class="boxblock-title">
			                    <span class="label label-success pull-right">Online</span>
			                    <h5>在线用户</h5>
			                </div>
			                <div class="boxblock-content">
			                    <h1 style="margin: 0 !important;"><a href="{% url 'user_online_list' %}"> <span id="online_users"></span>{{online_user_count}}</a></h1>
			                </div>
			            </div>
			        </div>
			              
			        <div class="col-md-3">
			            <div class="boxblock">
			                <div class="boxblock-title">
			                    <span class="label label-success pull-right">Asset</span>
			                    <h5>资产总数</h5>
			                </div>
			                <div class="boxblock-content">
			                    <h1 style="margin: 0 !important;"><a href="{% url 'asset_list' %}">{{assetcount}}</a></h1>
			                </div>
			            </div>
			        </div>
			
			        <div class="col-md-3">
			            <div class="boxblock" style="margin-right: 12px;">
			                <div class="boxblock-title">
			                    <span class="label label-success pull-right">IDC</span>
			                    <h5>机房总数</h5>
			
			                </div>
			                <div class="boxblock-content">
			                        <h1 style="margin: 0 !important;"><a href="{% url 'idc' %}"> <span id="online_hosts"></span>{{idc_count}}</a></h1>
			                </div>
			            </div>
			        </div>
			        
			        
			        <div class="col-md-3">
			            <div class="boxblock">
			                <div class="boxblock-title">
			                    <span class="label label-success pull-right">Product</span>
			                    <h5>产品线总数</h5>
			                </div>
			                <div class="boxblock-content">
			                    <h1 style="margin: 0 !important;"><a href="{% url 'appconf' %}">{{product_count}}</a></h1>
			                </div>
			            </div>
			        </div>
			          
			        <div class="col-md-3">
			            <div class="boxblock">
			                <div class="boxblock-title">
			                    <span class="label label-success pull-right">Project</span>
			                    <h5>项目总数</h5>
			                </div>
			                <div class="boxblock-content">
			                    <h1 style="margin: 0 !important;"><a href="{% url 'project_list' %}"> <span id="online_users"></span>{{project_count}}</a></h1>
			                </div>
			            </div>
			        </div>
			        
			        
			        
			    </div>
			</div>
	</div>
	 <!-- 仪表盘2结束 -->
	 
	 
	<!-- 仪表盘3开始 -->
	<div class="container">
	    <!-- block -->
	    <div class="bigboxblock">
	        <div class="navbar navbar-inner block-header">
	            <h4>仪表盘3</h4>
	        </div>
			    <div class="row">
			    	  <!-- 第一行第一列栏栅格开始 -->
			        <div class="col-md-6">
			            <div class="boxblock3">
			                <div class="boxblock-title">
			                    <h4>系统登录记录（最近10次登录记录）</h4>
			                </div>
			         
                                <div class="block-content collapse in">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <!-- <th>ID</th> -->
                                                <th>登录用户</th>
                                                <th>登录时间</th>
                                                <th>来源IP</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        	{% for login_re in login_record_10 %}
                                            <tr>
                                                <!-- <td>{{login_re.id}}</td> -->                 
                                                <td>{{login_re.name.name}}</td>
                                                <td>{{login_re.logintime|date:"Y-m-d H:i:s"}}</td>
                                                <td>{{login_re.loginsource}}</td>
                                            </tr>
                                         {% endfor %}                 
                                            
                                        </tbody>
                                    </table>
                                </div>
			         
			         
			            </div>
			        </div>
			          <!-- 第一行第一列栏栅格结束 -->
			         
			    	  <!-- 第一行第二列栏栅格开始 -->
			        <div class="col-md-6">
			            <div class="boxblock3" style="margin-right: 12px;">
			                <div class="boxblock-title">
			                    <h4>版本发布记录（最近10次版本发布记录）</h4>
			                </div>
			         
                                <div class="block-content collapse in">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>发布项目</th>
                                                <th>发布结果</th>
                                                <th>发布人</th>
                                                <th>发布时间</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        	{% for fastexcude_re in fastexcude_record_10 %}
                                            <tr>
                                                <td>{{fastexcude_re.excudename}}</td>    
				                                   <td>
				                                        {% if fastexcude_re.excudestatus %}
				                                            <span class="label label-success">成功</span>
				                                        {% else %}
				                                            <span class="label label-danger">失败</span>
				                                        {% endif %}
				                                   </td>       
                                                <td>{{fastexcude_re.excudeuser}}</td>
                                                <td>{{fastexcude_re.excude_time|date:"Y-m-d H:i:s"}}</td>
                                            </tr>
                                         {% endfor %}                 
                                            
                                        </tbody>
                                    </table>
                                </div>
			         
			         
			            </div>
			        </div>
			          <!-- 第一行第二列栏栅格结束 -->
	        
			    </div>
			    
			    
			    <div class="row">
			         
			          <!-- 第二行第一列栏栅格开始 -->
			        <div class="col-md-6">
			            <div class="boxblock3">
			                <div class="boxblock-title">
			                    <h4>资产信息变更（最近10次资产变更记录）</h4>
			                </div>
			                
                                <div class="block-content collapse in">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>资产ID</th>
                                                <th>资产名称</th>
                                                <th>变更类型</th>
                                                <th>变更时间</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for eve_log in event_log_10 %}
                                            <tr>
                                                <td>{{eve_log.asset.id}}</td>
                                                <td>{{eve_log.asset.name}}</td>
                                                <td>{{eve_log.get_event_type_display}}</td>
                                                <td>{{eve_log.date|date:"Y-m-d H:i:s"}}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
			                
			                
			            </div>
			        </div>
			          <!-- 第二行第一列栏栅格结束 -->

			        
			    </div>

			    
			    
			</div>
	</div>
	 <!-- 仪表盘3结束 -->
	 


{% endblock %}

{% block bottom-js %}
		  <script src="/static/plugins/easypiechart/jquery.easy-pie-chart.js"></script>
        <script>
        $(function() {
            // Easy pie charts
            $('.chart').easyPieChart({animate: 1000});
        });
        </script>
{% endblock %}