<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">Users</span>
                    <h5>用户总数</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><a href="/users/user/">5</a></h1>
                    <small>All users</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">Hosts</span>
                    <h5>主机总数</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><a href="/assets/asset/">2</a></h1>
                    <small>All hosts</small>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">Online</span>
                    <h5>在线用户</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><a href="/terminal/session-online/"> <span id="online_users"></span>1</a></h1>
                    <small>Online users</small>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">Connected</span>
                    <h5>在线会话</h5>

                </div>
                <div class="ibox-content">
                        <h1 class="no-margins"><a href="/terminal/session-online/"> <span id="online_hosts"></span>1</a></h1>
                    <small>Online sessions</small>
                </div>
            </div>
        </div>
    </div>
</div>
