{% extends 'base.html' %}
{% load custom_tag %}
{% block header-css %}
	<link rel="stylesheet" href="/static/dist/css/AdminLTE.min.css">
{% endblock %}

{% block page-content-title %}
任务编排操作记录
{% endblock %}

{% block page-nav-tab %}
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">任务编排操作记录查询</li>
</ol>
{% endblock %}



{% block page-content %}
<div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content">
        <form action="" method="post" id="recordlist_form">
                {% csrf_token %}
            <div class="box">
                <div class="box-header">
                  <div class="col-sm-2" style="padding-left: 0">
						 <a href="#" onclick="return recordlist_export_excel()"><li name="export" class="btn btn-success search-btn-excel"><b>导出选中记录</b></li></a>
                  </div>
                  <div id="export"></div>
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                  <table class="table table-striped table-bordered" id="recordlistform">
                      <thead>
                        <tr>
                            <th style="width:10px">
                                <input id="checkall" type="checkbox" class="i-checks" name="checkall" value="checkall" data-editable='false' onclick="check_all('recordlist_form')">
                            </th>
                            <th>任务类型</th>
                            <th>执行结果</th>
                            <th>执行人</th>
                            <th>执行时间</th>
                            <th>执行详情</th>
                        </tr>
                      </thead>
                            <tbody>
                            {% for record in all_records %}
                                <tr class="even gradeX">
                                    <td><input type="checkbox" id="id" class="i-checks" value="{{ record.id }}" name="id" /></td>
                                    <td>{{ record.tasktype }}</td>
                                    <td>
                                        {% if record.taskstatus %}
                                            <span class="label label-success">成功</span>
                                        {% else %}
                                            <span class="label label-danger">失败</span>
                                        {% endif %}
                                    </td>
                                    <td>{{ record.taskuser }} </td>
                                    <td>{{ record.tasktime | date:"Y-m-d H:i:s" }} </td>
                                    <td>{{ record.taskinfo }} </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                  </table>
                </div>
            </div>
        </form>
    </section>

</div>
<script src="/static/plugins/datatables/DataTables-1.10.9/js/jquery.dataTables.min.js"></script>
<script src="/static/plugins/datatables/DataTables-1.10.9/js/dataTables.bootstrap.min.js"></script>
<script>
  $(function () {
    $('#recordlistform').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": true
    });
  });
</script>

<script>

    function recordlist_export_excel(){
        var record_id_all = getIDall();
        if (record_id_all == ''){
            if(confirm('您没有勾选，是否导出全部执行记录信息？')){
            		//.serialize()方式将创建标准URL编码表示的文本字符串，也就是将表单内容序列化成一个字符串
            		//以下的args其实就是csrf_token信息以及选中的项目id信息
                var args = $("#recordlist_form").serialize();
                window.location = "{% url 'record_export' %}?export=all&" + args
            }else{
                return false;
            }
        }else{
            var args = $("#recordlist_form").serialize();
            window.location = "{% url 'record_export' %}?export=part&" + args
        }
    }

</script>

{% endblock %}

{% block  bottom-js %}
	<script src="/static/js/base.js"></script>
{% endblock %}